:root {
  --color-bg: #f0f4f7;
  --color-icons: #1f1f1f;
  --color-heavy-headings: #292929;
  --color-text-light: #5b5b5b;
  --color-task-container: #fff;
  --color-task-container-inner: #f0f4f7;
  --color-progrss-bar: #e6edf0;
  --color-btn-border:#292929;
  --color-options-bar:rgba(0, 0, 0, 0.05);
  --color-box-shadow:rgba(0, 0, 0, 0.3);
  .form-control input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(-1);
  }
}

.dark {
  --color-bg: #0b101c;
  --color-icons: #fff;
  --color-heavy-headings: #fff;
  --color-text-light: #fff;
  --color-task-container: #1e232f;
  --color-task-container-inner: #2f374a;
  --color-progrss-bar: #d9d9d9;
  --color-btn-border:#fff;
  --color-options-bar:rgba(255, 255, 255,  0.05);
  --color-box-shadow:rgba(255, 255, 255, 0.3);
  .form-control input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}


body{
  background-color: var(--color-bg);
  color: var(--color-heavy-headings);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  padding: 4%;
  max-width: 700px;
  margin: 2% auto;
}

.options-overlay{
  background-color: var(--color-options-bar);
  position: fixed;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 6px var(--color-box-shadow);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu{
  cursor: pointer;
}

.left h1{
  margin-left: 50px;
  font-size: 1.5rem;
}

.filter{
  margin-left: 40px;
}

.side-menu-list{
  position: absolute;
  display:block;
  top: 80px;
  width: 100%;
}

.side-menu-list li{
  list-style: none;
  margin-bottom: 15px;
  padding: 14px 20px;
  margin-left: -40px;
  width:207px;
  cursor: pointer;
  transition: all ease 0.3s;
  
}

.side-menu-list li:hover{
  border-left: 2px solid var(--color-btn-border);
  box-shadow: 0 0 4px var(--color-box-shadow);
}

.side-menu{
  background-color: var(--color-options-bar);
  backdrop-filter: blur(10px);
  /* width: 10%; */
  height: 100vh;
  width: 250px;
  margin-left: -2px;
  margin-top: -52px;
  position: fixed;
  box-shadow: 0 0 6px var(--color-box-shadow);
  transition: all 0.3s linear;
}

/* .side-menu{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  width: 10%;
  height: 100vh;
  width: 250px;
  margin-left: -2px;
  margin-top: -52px;
  position: fixed;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
} */

.show-tasks{
  position: absolute;
  width: 150px;
  box-shadow: 0 0 6px var(--color-box-shadow);
  background-color: var(--color-options-bar);
  backdrop-filter: blur(10px);
  left: 250px;
  top: 0;
  display: none;
  transition: all ease 0.5s;
  overflow: hidden;
  z-index: 3;
}

/* .main {
  position: relative;
} */

.side-menu ul:hover ul{
  display: initial; 
}

.side-menu ul:hover .main button{
  display: none; 
}

.close-side-menu{
  margin-left:80%;
  margin-top: 15%;
  font-size: 24px;
  cursor: pointer;
}

.priority-tab{
  width: 25%;
  box-shadow: 0 0 6px var(--color-box-shadow);
  background-color: var(--color-options-bar);
  backdrop-filter: blur(10px);
  margin-left: 73%;
  transition: all ease 0.5s;
  margin-top: -15%;
}


.priority-tab li{
  list-style: none;
  padding: 12px 12px;
  margin-left: -35%;
  cursor: pointer;
  transition: all ease 0.3s;
}

.priority-tab li:hover{
  border-left: 2px solid var(--color-btn-border);
  box-shadow: 0 0 4px var(--color-box-shadow);
}


.priority-options{
  position: relative;
}

.add-task{
  display: flex;
  align-items:end;
  justify-content: flex-end;
  margin-top: 13%;
  
}
.add-task button{
  background-color: transparent;
  padding: 15px 25px;
  border: var(--color-btn-border) 2px solid;
  color:var(--color-text-light);
  cursor: pointer;
}

.add-task button:hover{
  transform: translateY(-10px);
  background-color: var(--color-btn-border);
  transition: all .2s linear;
  color: var(--color-task-container);
}

.tasks-title{
  font-size: 30px;
  margin-top: 30px;
}

.priority-tag button{
  background-color: #EE4C4C;
  padding: 5px 10px;
  border: none;
  color: white;
}

.high-priority-tag button{
  background-color: #EE4C4C;
  padding: 5px 10px;
  border: none;
  color: white;
}

path{
  stroke: var(--color-icons);
}

.medium-priority-tag button{
  background-color: #EEB74C;
  padding: 5px 10px;
  border: none;
  color: white;
}

.low-priority-tag button{
  background-color: #565555;
  padding: 5px 10px;
  border: none;
  color: white;
}

.task-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task{
  margin-top: 5%;
  background-color: var(--color-task-container);
  padding: 20px 25px;
  animation: task;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes task {
  0% {left: -150px;}
  100% {left: 0px;}
}

.task h1{
  font-size: 2em;
  color: var(--color-heavy-headings);
}

.bar{
  background: var(--color-progrss-bar);
  display: block;
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.high{
  background: #EE4C4C;
  display: block;
  height: 100%;
  
  
}

.medium{
  background: #EEB74C;
  display: block;
  height: 100%;
  
  
}

.low{
  background: #565555;
  display: block;
  height: 100%;
  
}

.progress-percentage{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-text-light);
}

.date{
  margin-top: -3%;
  color: var(--color-text-light);
}


/*Single Task Page*/

.single-task{
  background-color: var(--color-task-container);
}

.single-task-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14%;
}

.task-details{
  margin-bottom: 13%;
}

.task-item{
  padding: 10px 25px;
  background-color: var(--color-task-container-inner);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}

.task-item svg{
  cursor: pointer;
}

.single-task-top svg{
  cursor: pointer;
}

.task-item form{
  display: flex;
  justify-content: space-between;
}

.task-item form p{
  margin-left: 25px;
}

/*Add Task Form Page*/

.task-form{
  background-color: var(--color-task-container);
}

.form-control label{
  display: block;
}

.task-form h2{
  margin-top: 6%;
}

.form-control{
  display: block;
  margin-top: 6%;
}

.form-layout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check{
  display: flex;
  margin-top: 13%;
}


.reminder{
  margin-left: 20%;
  
}

.check input{
  width: 20%;
  margin-left: -40%;
}

.remove-actionItem{
  cursor: pointer;
}


.form-control input{
  padding: 5px 10px;
  margin-top: 3%;
  background-color: var(--color-task-container-inner);
  border: none;
  color:var(--color-text-light);
  width: 270px;
  height: 35px;
}

.form-control select{
  padding: 5px 10px;
  margin-top: 10px;
  background-color: var(--color-task-container-inner);
  border: none;
  color: var(--color-text-light);
  width: 270px;
  height: 45px;
}

.action-item-form{
  display: flex;
  justify-content: space-between;
}

.action-item-form input{
  width: 70%;
  color: var(--color-text-light)
}

.action-item-form button{
  padding: 10px 20px;
  height: 45px;
  margin-top: 10px;
  background-color: var(--color-btn-border);
  border: none;
  color: var(--color-task-container);
  cursor: pointer;
}

form input[type='submit']{
  width: 100%;
  margin-top: 40px;
  height: 45px;
  background-color: var(--color-btn-border);
  border: none;
  cursor: pointer;
  color: var(--color-task-container);
}

.action-items-heading{
  margin-top: 40px;
  margin-bottom: 10px;
}

.action-item-added{
  background-color: var(--color-task-container-inner);
  padding: 2px 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center; /* Center vertically and horizontally */
  align-items: center;
  display: flex;
}

.modal-content {
  background-color: var(--color-task-container);
  padding: 20px;
  max-width: 300px; /* Set the maximum width to your desired size */
  text-align: center;
  color: var(--color-heavy-headings);
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.modal-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 5px 30px;
}


.modal-options button{
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  color: #e6edf0;
}

.modal-options .Del-Btn{
  background-color: #EE4C4C;
}

.modal-options .X-Btn{
  background-color: #d9d9d9;
  color:#292929;
}

.modal-options .X-Btn:hover{
  background-color: #b1b1b1;
  transition: all .3s linear;
}

.modal-options .Del-Btn:hover{
  background-color: #d63e3e;
  transition: all .3s linear;
}

.modal-options .change-priority-low{
  background-color: #565555;
  margin-right: 15px;
}

.modal-options .change-priority-medium{
  background-color: #EEB74C;
  margin-right: 15px;
}

.modal-options .change-priority-high{
  background-color: #d63e3e;
}

/** Mobile Styling **/

@media(max-width:670px){
  .form-layout{
    display: block;
  }

  .form-control input{
    width: 95%;
  }

  .form-control select{
    width: 100%;
  }

  .reminder{
    margin-left: 6%;
  }
  .check input{
    width: 5%;
    margin-left: 0;
  }

  .check{
    margin-top: 5%;
  }

  .priority-tab{
    width: 35%;
    margin-left: 60%;
    margin-top: -15%;
    margin-bottom: 10%;
  }

  .priority-tab li{
    margin-left: -50%;
    font-size: 12px;
  }

  .left h1{
    margin-left: 20px;
    font-size: 1.5rem;
  }
  
  .filter{
    margin-left: 20px;
  }
  
  .task-item p{
    width: 70%;
  }

  .side-menu{
    width: 200px;
  }
  .side-menu-list li{
    width:158px;
  }

  .show-tasks {
    /* Reset the styles for the specific viewport */
    position: relative;
    width: auto;
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: none;
    left: 30px;
    top: auto;
    display: none;
    transition: none;
    overflow: visible;
    z-index: auto;
  }

  .show-tasks li{
    list-style: none;
    margin-bottom: 7px;
    padding: 10px 14px;
    margin-left: -40px;
    width:70%;
    cursor: pointer;
    transition: all ease 0.3s;
  }

  .side-menu-list li{
    margin-bottom: 5px;
  }

  .action-item-form input{
    width: 60%;
  }
  /* .container{
    padding: 5%;
    margin: 5% auto;
  } */
}